//== Container sizes
// default sizes
$top-bottom-margin:      40px;
$default-font-size:      14px;
$mobile-padding:         20px;

$font-size:              $default-font-size;

// table padding
$table-padding-header:          20px 10px;
$table-padding:          40px 10px;
